/* Globals
==========*/

html {
    font-size: 1em;
    @media screen and (min-width: $break-small) {
        font-size: 1.1em;
    }
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    outline: 0;
}
