/* Marked */

/* Paragraph */

.p {
    margin: 1.5em 0;
    line-height: 170%;
    font-weight: 300;
    color: $grey;
}

/* Heading */

@include heading-set;

/* Anchor */

.a {
    color: $lightblue;
    @include transition-fast;
    &:hover {
        color: $purple;
    }
}

/* List */

.ul {
    list-style: none;
    padding: 0;
    margin: .3em;
    .li {
        padding-top: .2em;
        padding-bottom: .2em;
        padding-left: 1.5em;
        font-weight: 300;
        &:before {
            content: ' + ';
            position: relative;
            display: inline-block;
            margin-right: .2em;
            top: .1em;
            font-size: 1.5em;
        }
    }
}

.ol {
    list-style: none;
    padding: 0;
    margin: .3em;
    .li {
        list-style-type: upper-roman;
        list-style-position: inside;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1.5em;
        font-weight: 300;
    }
}



/*** Code ***/

.code {
  font-size: .8em;
  font-weight: 200;
  line-height: 130%;
  padding: .5em;
}


/* Inline */

.code__inline {
  background-color: $opaque-grey;
}

/* General Purpose */
.code {
    &--keyword,
    &--built-in,
    &--class,
    &--function {
        color: $pink;
    }
    &--title,
    &--symbol,
    &--built_in,
    &--literal {
        color: $orange;
    }
    &--params {
        color: $opaque-black;
    }
    &--string {
        color: $lime;
    }
    &--number {
        color: $deep-orange;
    }
    &--regexp,
    &--subst  {
        color: $crimson;
    }
}

/* icons */

.i {
  box-sizing: border-box;
  display: inline;
  &--key {
    font-style: normal;
    border: 1px solid $lightgrey;
    padding: 0 2px;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgba(122,122,122,0.78);
  }
}

/** Tables **/

.table {
    width: 100%;
    min-width: $container-max;
    border-collapse: collapse;
    &__th {
        font-weight: 600;
        letter-spacing: 3px;
        padding: .5em;
        &:not(:last-child) {
            border-right: 1px dotted $black;
        }
    }
    &__td {
        font-weight: 300;
        font-size: .9em;
        padding: .5em;
        &:not(:last-child) {
            border-right: 1px dotted $black;
        }
        &--left {text-align: left;}
        &--center {text-align: center;}
        &--right {text-align: right;}
    }
    &__thead {
      border-bottom: 1px dotted $black;
    }
}

/* Block Quote */

.blockquote {
  box-sizing: border-box;
  display: block;
  font-size: .9em;
  margin: 0;
  width: 100%;
  padding: 1em;
  position: relative;
  text-align: center;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    position: absolute;
    font-size: 3em;
    color: $black;
    @include font-times;
    content: open-quote;
    top: 0;
    left: 0;
  }
  &:after {
    position: absolute;
    font-size: 3em;
    color: $black;
    @include font-times;
    content: close-quote;
    bottom: 0;
    right: 0;
  }
}
