// .h1,.h2,.h3,.h4,.h5,.h6
@mixin heading-set {
  @for $i from 1 through 6 {
    .h#{$i} {
      margin: 2em 0;
      text-align: left;
      font-weight: $i * 100 + 100;
      &--center {
        text-align: center;
      }
    }
  }
}

//Fast transition
@mixin transition-fast {
    transition: all .3s ease;
}

// Fonts
@mixin font-times {
    font-family: 'Times New Roman', serif;
}

@mixin font-open-sans {
    font-family: 'Open Sans', arial, sans-serif;
}

@mixin font-space-mono {
    font-family: 'Space Mono', monospace;
}
