// Break Points
$break-small: 500px;
$break-medium: 700px;
$break-large: 900px;
$break-extra-large: 1500px;

// Max width of container
$container-max: 650px;

// Colors
$black: #000000;
$lightgrey: #607D8B;
$grey: #333;
$lightblue: rgb(100,150,255);
$purple: rgb(100, 0, 255);
$pink: #8E24AA;
$orange: #FFA000;
$lime: #8BC34A;
$deep-orange: #FF6F00;
$crimson: #B71C1C;
$aqua: #00BCD4;
$green: #009688;

$opaque-black: rgba(0,0,0,0.6);
$opaque-grey: rgba(0,0,0,0.1);
