{{#each posts}}
  {{#if this.live}}
    <a class="snippet" href="post/{{this.postid}}">
      <h2 class="snippet__title">{{this.posttitle}}</h2>
      <h3 class="snippet__date">{{this.creationdate}}</h3>
      <h4 class="snippet__category snippet__category--{{#categorycolor this.categoryname}}{{/categorycolor}}">{{this.categoryname}}</h4>
      <p class="snippet__description">{{#removemarked this.postbody}}{{/removemarked}}</p>
    </a>
  {{/if}}
{{/each}}
