<section class="container">
  <div class="post">
    {{#if post.imageurl}}
      <!-- Lovely Homepage img HTMl -->
      <img src="/images/{{post.imageurl}}" alt="{{post.imagetitle}}" class="post__image"/>
    {{/if}}
    <!-- Body (post in markdown, converted to HTML)-->
    <div class="post__body">{{{post.postbody}}}</div>
  </div>


  {{#if credentials.current_user}}
    <!-- Edit Button if logged In-->
    <a class="button button--black button--action" href="/edit/welcome-to-my-site">Edit</a>
  {{/if}}
</section>
