<section class="container">
<h3 class='title {{errorclass}}'>{{message}}</h3>
<form class="login" action="/login" method="post">
    <input id="username=" class="login__input" name="username" type="text" placeholder="username" pattern="^[A-Za-z0-9]{1,25}$" value="{{username}}"/>
    <input id="username=" class="login__input" name="password" type="password" placeholder="password" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
  <input class="button button--white button--spaced" type="submit"/>
</form>
</section>
