/*** Base ***/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
  width: 100%;
}

ul {
    list-style: none;
}

input {
    outline: 0;
}

/* Container */

.container {
    display: block;
    width: 100%;
    max-width: 650px;
    padding: 5rem 1rem .8rem .8rem;
    margin: 0 auto;
}


/* Marked */


/* List */

.ul,
.ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li {
    padding: .5rem 3rem;
}

.ul .li:before {
    content: ' + ';
    position: relative;
    top: .2rem;
    font-size: 1.5rem;
}

.ol .li {
    list-style-type: upper-roman;
    list-style-position: inside;
}
