.button {
  font-size: .8rem;
  width: 6em;
  text-align: center;
  display: block;
  padding: .5em;
  margin: .5em auto;
  border-radius: .2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s ease;
  outline: none;
}

.button:disabled {
  opacity: .5;
  cursor: default;
}

.button:hover {
  opacity: .5;
  border: none;
}

.button--grey {
  background: #607D8B;
  color: white;
}

.button--blue {
  background: #00BCD4;
  color: white;
}


.button--green {
  background: #009688;
  color: white;
}

.button--black {
  background: black;
  color: white;
}

.button--white {
  background: white;
  color: black;
  border: 1px solid black;
}
.button--white:hover {
  background: #009688;
  color: white;
}

.button--spaced {
  margin: 3rem auto;
}

.button--free-width {
    width: auto;
}

.button--logout {
  font-size: .5em;
  padding: 0 .5em;
  position: absolute;
  right: 0.3em;
  top: 0;
  z-index: 8;
}
