.button {
  width: 6rem;
  text-align: center;
  display: block;
  padding: .5rem;
  margin: .5rem auto;
  border-radius: .2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8rem;
  transition: all .2s ease;
}

.button:disabled {
  opacity: .5;
  cursor: default;
}

.button:hover {
  opacity: .5;
  border: none;
}

.button--grey {
  background: #607D8B;
  color: white;
}

.button--blue {
  background: #00BCD4;
  color: white;
}


.button--green {
  background: #009688;
  color: white;
}

.button--black {
  background: black;
  color: white;
}

.button--white {
  background: white;
  color: black;
  border: 1px solid black;
}
.button--white:hover {
  background: #009688;
  color: white;
}
