/* Container */

.container {
    display: block;
    width: 100%;
    max-width: 650px;
    padding: 5rem 1rem .8rem .8rem;
    margin: 0 auto;
}

/***** Login *****/

/** Form **/
.login {
    font-size: 1rem;
    max-width: 20em;
    padding: 1em;
    margin: 0 auto;
}

.login__input {
    display: inline-block;
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 1px solid grey;
}

/***** Edit Form *****/

.edit {
    padding: .5rem;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.edit__feature-image-output {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.edit__feature-image-btn {
    position: absolute;
    top: 0;
    left: 0;
}

/* Clear */
.edit__clear-image-btn {
    position: absolute;
    top: -.3rem;
    right: -.3rem;
    width: 2.5rem;
    background: red;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
}

.edit__clear-image-btn:hover {
    opacity: 1;
}

.edit__label {
    display: block;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    color: grey;
}
.edit__text-input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    margin: 1rem auto;
    padding-bottom: .1rem;
}

.edit__post-container {
    position: relative;
}

.edit__add-image-btn {
    position: absolute;
    top: -2.5rem;
    right: 5.5rem;
}


/* Postbody */
.edit__post-body {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    height: 25rem;
    font-family: monospace;
    line-height: 1rem;
    outline: none;
    padding: .5rem;
}
.edit__post-body-output {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    height: 25rem;
    padding: .5rem;
}

.edit__preview-btn {
    position: absolute;
    top: -2.5rem;
    right: -.5rem;
}

.edit__submit {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 6rem;
}


/* Images */

.images {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.9);
  min-height: 300px;
  transition: all .4s ease;
}

.images--hidden {
  display: none;
}

.images__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  max-width: 700px;
  height: 70%;
  background: rgba(255,255,255,0.3);
  border: 1px solid black;
  margin: 5rem auto;
  overflow-y: auto;
}

.images__image {
  width: 20%;
  height: 20%;
  margin: 1rem;
  border: 1px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.images__image:hover {
  border: 3px solid purple;
}

.images__image--selected {
  border: 3px solid aqua;
}

/* Delete Buttons */
.images__delete {
  position: absolute;
  display: inline-block;
  bottom: -.75rem;
  right:  -.75rem;
  border-radius: 50%;
  border: 1px solid white;
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  transition: all .2s ease;
  opacity: 0;
}

.images__delete:before {
  content: '';
  display: block;
  position: relative;
  top: .6rem;
  right: -.2rem;
  background: white;
  width: 1rem;
  height: 1px;
}
.images__delete:hover {
  opacity: 1;
}



.images__button-container {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.images__btn {
  display: inline-block;
  line-height: 1rem;
}

.images__upload-label {
  position: relative;
  top: 1px;
}

.images__select-btn {
  padding-top: .6rem;
}

.images__selected-title {
  display: none;
  position: absolute;
  bottom: 4rem;
  left: 35%;
  min-width: 30%;
  margin: 0 auto;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  padding: .5rem;
  color: white;
  transition: all .4s ease;
}

.images__selected-title--purple:focus {
  color: purple;
  border-color: purple;
}
