/*** Blog (Snippets) ***/

.snippet {
    box-sizing: border-box;
    border-width: 1px;
    border-style: dotted;
    border-color: rgba(0,0,0,0);
    transition: all .2s ease;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    display: block;
    margin: 3rem 0;
}

.snippet__title {
    text-align: left;
    color: black;
    margin: 1rem 0 0 0;
    padding: 0 .7rem;
    border-bottom: 1px solid lightgrey;
}

.snippet__date {
    text-align: left;
    color: lightgrey;
    margin: .4rem 0;
    padding: 0 1.5rem;
}

.snippet__category {
    text-align: left;
    font-size: .7rem;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    margin: 0 1.5rem;
    padding: 0 1.5rem;
}

.snippet__category--blue {
    background: rgb(0,100,255);
}

.snippet__category--pink {
    background: salmon;
}

.snippet__category--red {
    background: crimson;
}

.snippet__category--green {
    background: rgb(0,255,200);
}

.snippet__description {
    height: 5rem;
    color: black;
    font-size: .8rem;
    text-align: left;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin: .5rem 1.5rem;
    position: relative;
    transition: all .5s ease;

}

/* Faded White */
.snippet__description:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0), white);
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/* Hover */

.snippet:hover {
    border-color: lightgrey;
    transform: scale(1.03);
}
