/*** Base ***/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
  width: 100%;
}

ul {
    list-style: none;
}

input {
    outline: 0;
}

/* Container */

/* General */
.container {
  font-size: .9em;
  display: block;
  width: 100%;
  max-width: 650px;
  padding: 5em 1em .8em .8em;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .container {
    font-size: 1em;
  }
}
