/* Marked */


/* List */

.ul,
.ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li {
    padding: .5rem 3rem;
}

.ul .li:before {
    content: ' + ';
    position: relative;
    top: .2rem;
    font-size: 1.5rem;
}

.ol .li {
    list-style-type: upper-roman;
    list-style-position: inside;
}
