/* Blog */

.snippet {
    font-size: 1em;
    box-sizing: border-box;
    font-size: 1em;
    border-width: 1px;
    border-style: dotted;
    border-color: $transparent;
    @extend %transition-very-fast;
    text-decoration: none;
    width: 100%;
    display: block;
    margin: 3em 0;

    // Hover
    &:hover {
        border-color: lightgrey;
        transform: scale(1.03);
    }
    // Title
    &__title {
        box-sizing: border-box;
        text-align: left;
        font-weight: 400;
        color: black;
        margin: 1em 0 0 0;
        padding: 0 .4em;
        line-height: 130%;
        border-bottom: 1px solid lightgrey;
    }

    // Date
    &__date {
        box-sizing: border-box;
        font-weight: 100;
        text-align: left;
        color: lightgrey;
        margin: .4em 0;
        padding: 0 1em;
    }

    // Category
    &__category {
        box-sizing: border-box;
        text-align: left;
        font-size: .7em;
        font-style: italic;
        text-transform: uppercase;
        display: inline-block;
        color: white;
        margin: 0 1.8em;
        padding: 0 1.5em;
        &--blue {
            background: $blue;
        }

        &--pink {
            background: $salmon;
        }

        &--red {
            background: crimson;
        }

        &--green {
            background: $lightgreen;
        }

        &--grey {
            background: $lightgrey;
        }

        &--purple {
            background: $deeppurple;
        }

        &--orange {
            background: $orange;
        }

        &--light-blue {
            background: $lightblue;
        }
    }
    // Description
    &__description {
        box-sizing: border-box;
        height: 5em;
        color: black;
        font-size: .8em;
        text-align: left;
        overflow-y: hidden;
        text-overflow: ellipsis;
        line-height: 150%;
        margin: .5em 1.5em;
        position: relative;
        transition: all .5s ease;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient($transparent, white);
          top: 0;
          left: 0;
          transition: all .5s ease;
        }
    }
}
