/* Images */

.images {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: $almost-black;
  min-height: 300px;
  transition: all .4s ease;

  // Hidden
  &--hidden {
    box-sizing: border-box;
    display: none;
  }

  // Gallery
  &__gallery {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    max-width: 700px;
    height: 70%;
    background: $opaque-grey;
    border: 1px solid black;
    margin: 5rem auto;
    overflow-y: auto;
  }

  // Image
  &__image {
    box-sizing: border-box;
    width: 20%;
    height: 20%;
    margin: 1rem;
    border: 1px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    &:hover {
      border: 3px solid $deeppurple;
    }
    &--selected {
      border: 3px solid $aqua;
    }
  }

  /* Delete Buttons */
  &__delete {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    bottom: -.75rem;
    right:  -.75rem;
    border-radius: 50%;
    border: 1px solid white;
    width: 1.5rem;
    height: 1.5rem;
    background: $crimson;
    transition: all .2s ease;
    opacity: 0;
    &:before {
      content: '';
      display: block;
      position: relative;
      top: .6rem;
      right: -.2rem;
      background: white;
      width: 1rem;
      height: 1px;
    }
    &:hover {
      opacity: 1;
    }

  }

  // Button Container
  &__button-container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
  }

  // Button
  &__btn {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1rem;
  }

  // Upload
  &__upload-label {
    box-sizing: border-box;
    position: relative;
    top: 1px;
  }

  // Select
  &__select-btn {
    box-sizing: border-box;
  }


  // Title
  &__selected-title {
    box-sizing: border-box;
    display: none;
    position: absolute;
    bottom: 4rem;
    left: 35%;
    min-width: 30%;
    margin: 0 auto;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    padding: .5rem;
    color: white;
    transition: all .4s ease;
      &:focus {
        color: $deeppurple;
        border-color: $deeppurple;
      }
  }

}
