<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...Nick Field...</title>
    <!-- Base -->
    <link href="/css/base/normalize.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/css/base/base.css" type="text/css" rel="stylesheet">
    <link href="/css/base/type.css" type="text/css" rel="stylesheet">
    <link href="/css/base/marked.css" type="text/css" rel="stylesheet">
    <!-- Components -->
    <link href="/css/components/buttons.css" type="text/css" rel="stylesheet">
    <link href="/css/components/menus.css" type="text/css" rel="stylesheet">
    <link href="/css/components/nav.css" type="text/css" rel="stylesheet">
    <!-- Pages -->
    <link href="/css/pages/login.css" type="text/css" rel="stylesheet">
    <link href="/css/pages/edit.css" type="text/css" rel="stylesheet">
    <link href="/css/pages/images.css" type="text/css" rel="stylesheet">
    <link href="/css/pages/blog.css" type="text/css" rel="stylesheet">


  </head>
  {{> header}}
    {{{content}}}
    <script src="/js/main.js"></script>
</html>
