<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...Nick Field...</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
  </head>
  <body>
    {{{content}}}
    <script src="js/main.js"></script>
  </body>
</html>
